/* CSS declarations go here */
@font-face {
	font-family: 'helveticaN';
	src: url('helvetica_n.ttf');
}

body {
	font-family: helveticaN;
}

#logoImage {
	width: auto;
	height: 300px;
}

/*#questionName:hover {
	background: yellow;
}*/

/*body {
	height: 100%;
	width: 100%;
}

#container {
	height: 100%;
	width: 40%;
	margin-right: auto;
	margin-left: auto;
}

.btn-answer {
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

#questionDiv {
	width: 200px;
	margin-right: auto;
	margin-left: auto;
}

#startBtn {
	width: 80px;
	margin-left: 195px;
	margin-right: 195px;
	text-align: center;
}
*/
/*#logoImage {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
	margin-top: -100px; 
	margin-left: -100px; 
}*/